html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}
img{
height:150%;
}
body {
	/*display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: flex-start;*/
    overflow: hidden;
}

.container {
margin: 0 auto;
width: 100%;
}

#image, #image2{
		height: 50%;
		display:inline-block;
		position:fixed;
}
#image3, #image4 {
	height: 50%;
		display: inline-block;
		position:fixed;
}


/*#image img {
	display: inline-block;
		position:fixed;
	  height: 50%;}

#image2 img {
		position:fixed;
	  height: 50%;
}*/

/*#image3 img {
		display: inline-block;
		position:fixed;
	  height: 50%;

}

#image4 img {
		display: inline-block;
		position:fixed;
	  height: 50%;
}*/
