html {
    box-sizing: border-box;
    margin: 100px;
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
}
8
.container {
    width: 90%;
    height: 90%;
    overflow: hidden;
}

#image img {
    margin-top: 25%;
		order: 1;
    position: absolute;
    height: 45%;
    float: left;
}

#image2 img {
    order: 2;
		margin-bottom: 25%;
		margin-left: 25%;
    position: absolute;
    height: 45%;
    float: left;
}

#image3 img {
    order: 3;
    position: absolute;
    margin-bottom: 25%;
    height: 45%;
    float: right;
}

#image4 img {
    order: 4;
		margin-bottom: 25%;
		margin-right: 25%;
    position: absolute;
    height: 45%;
    float: right;
}
